:root {
    --bg-color: #000000;
    --card-color: #eeeeee;
    --accent-color: #800000;
    --primary: var(--accent-color);
    --sidebar-color: #4e4e4e;
    --text-color: #1d2125;
    --hover-color: color-mix(in srgb, var(--accent-color), #000000);
}

body.rhitweaks-enabled,
body.rhitweaks-enabled .block .block-cards span.categoryname,
body.rhitweaks-enabled .block .block-cards .btn-link,
body.rhitweaks-enabled .nav-tabs .nav-link.active,
body.rhitweaks-enabled .nav-tabs .nav-item.show .nav-link,
body.rhitweaks-enabled .course-section-header .btn,
body.rhitweaks-enabled .generaltable,
body.rhitweaks-enabled .generaltable tbody tr:hover,
body.rhitweaks-enabled .path-grade-report-user .user-grade td.category a.toggle-category:not(:hover) i,
body.rhitweaks-enabled .grade-report-user .user-grade td.category a.toggle-category:not(:hover) i {
    color: var(--text-color) !important;
}

body.rhitweaks-enabled .btn:not(
    .btn-primary,
    .btn-success,
    .nav-link,
    #user-menu-toggle,
    .drawertoggle,
    .btn-outline-primary
  ) {
    color: unset !important;
}

body.rhitweaks-enabled .gradereport-grader-table {
    color: black !important;
}

body.rhitweaks-enabled #ek-overlay,
body.rhitweaks-enabled #ek-modal,
body.rhitweaks-enabled div#nav-drawer::-webkit-scrollbar,
body.rhitweaks-enabled .evalkit-widget-surveys,
body.rhitweaks-enabled .usernav li:first-child,
body.rhitweaks-enabled #usernavigation .divider,
body.rhitweaks-enabled #searchform-navbar,
body.rhitweaks-enabled #page-footer > div:nth-child(1) > button,
body.rhitweaks-enabled .drawercontent::-webkit-scrollbar,
body.rhitweaks-enabled .moodle-dialogue-exception {
    display: none !important;
}

body.rhitweaks-enabled:not(#page-grade-report-grader-index) [data-usertour='scroller'],
body.rhitweaks-enabled .drawer [data-usertour='scroller'] {
    scrollbar-width: none !important;
    -ms-overflow-style: none;
}

body.rhitweaks-enabled .fa-star:before,
body.rhitweaks-enabled a:not(.btn-primary, .dropdown-item),
body.rhitweaks-enabled .btn-link,
body.rhitweaks-enabled .page-link {
    color: var(--accent-color);
}

body.rhitweaks-enabled a:not([role='menuitem']):not(
    .list-group-item,
    .list-group-item span,
    .navbar a,
    .btn-primary,
    .dropdown-item,
    .courseindex-link,
    .courseindex-chevron
  ):hover,
body.rhitweaks-enabled .btn-link:hover {
    color: var(--hover-color) !important;
}

body.rhitweaks-enabled .btn-primary,
body.rhitweaks-enabled #available_shortcuts_tab,
body.rhitweaks-enabled #available_shortcuts_inner,
body.rhitweaks-enabled .dropdown-item:active,
body.rhitweaks-enabled .dropdown-item:hover,
body.rhitweaks-enabled .dropdown-item:focus,
body.rhitweaks-enabled .dropdown-item:focus-within,
body.rhitweaks-enabled .badge-info,
body.rhitweaks-enabled .bg-primary {
    background: var(--accent-color) !important;
    border-color: var(--accent-color);
}

body.rhitweaks-enabled .dropdown-item.active {
    background-color: color-mix(in srgb, var(--accent-color), #00000070);
}

body.rhitweaks-enabled .btn-primary:hover,
body.rhitweaks-enabled .btn-primary:focus,
body.rhitweaks-enabled .btn-primary:active {
    background: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
}

body.rhitweaks-enabled .section,
body.rhitweaks-enabled .card,
body.rhitweaks-enabled #gridshadebox_content,
body.rhitweaks-enabled .secondary-navigation nav,
body.rhitweaks-enabled .secondary-navigation ul:not(.dropdown-menu),
body.rhitweaks-enabled .message-app,
body.rhitweaks-enabled div[role='main'],
body.rhitweaks-enabled .login-container {
    background: var(--card-color) !important;
}

body.rhitweaks-enabled .section-summary.main {
    /*noinspection CssNonIntegerLengthInPixels*/
    border: 0.25px solid gray !important;
}

body.rhitweaks-enabled .secondary-navigation ul {
    justify-content: center;
}

body.rhitweaks-enabled #page-header > div.w-100 > div.d-flex.align-items-center > div.mr-auto > div > div,
body.rhitweaks-enabled #page-header > div.w-100 > div.d-flex.align-items-center > div.mr-auto {
    flex-grow: 0 !important;
    text-align: center;
}

body.rhitweaks-enabled #page-header {
    margin-top: 20px;
    max-width: 100% !important;
}

body.rhitweaks-enabled,
body.rhitweaks-enabled #nav-drawer,
body.rhitweaks-enabled #page-login-index #page,
body.rhitweaks-enabled #sticky-footer {
    background: var(--bg-color) !important;
}

body.rhitweaks-enabled .calendar_event_course {
    background: color-mix(in srgb, var(--accent-color), transparent 85%);
}

body.rhitweaks-enabled #nav-drawer .list-group-item.active {
    background: var(--accent-color) !important;
    border-color: var(--accent-color);
}

body.rhitweaks-enabled .d-inline-block.mr-3 > button {
    background-color: #00000000 !important;
    border: none;
    color: white;
}

@media (min-width: 770px) {
    body.rhitweaks-enabled .navbar-brand {
        background: url('https://www.rose-hulman.edu/assets/images/rose-hulman-video-logo.png') no-repeat 0 0 !important;
        background-size: 240px !important;
        margin-top: 14px !important;
    }
}

body.rhitweaks-enabled input,
body.rhitweaks-enabled select {
    border: 1px solid gray !important;
}

body.rhitweaks-enabled #goto-top-link > a > i {
    margin: 0 !important;
}

body.rhitweaks-enabled #goto-top-link a {
    top: 20px;
    right: 5px;
}

body.rhitweaks-enabled #page-footer {
    margin: 10px;
}

body.rhitweaks-enabled nav.navbar.fixed-top {
    background-color: color-mix(
            in srgb,
            var(--accent-color),
            transparent 56.5%
    ) !important;
    border: none !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

body.rhitweaks-enabled div[data-region='grade-actions-panel'],
body.rhitweaks-enabled div[data-region='grading-navigation-panel'] {
    background: white;
}

body.rhitweaks-enabled .fp-viewbar.btn-group a {
    margin: 0 5px;
}

body.rhitweaks-enabled .fp-navbar {
    border-color: rgba(0, 0, 0, 0.125);
}

body.rhitweaks-enabled #region-main > div.region_main_settings_menu_proxy,
body.rhitweaks-enabled #toggledsection-2 > ul,
body.rhitweaks-enabled .activity-header,
body.rhitweaks-enabled #region-main,
body.rhitweaks-enabled .dashboard-card-footer,
body.rhitweaks-enabled .activity-altcontent,
body.rhitweaks-enabled .bg-light,
body.rhitweaks-enabled .bg-white,
body.rhitweaks-enabled .activity-item .description div,
body.rhitweaks-enabled input[type='text'],
body.rhitweaks-enabled .card .list-group-item,
body.rhitweaks-enabled .activity-item {
    background: transparent !important;
}

body.rhitweaks-enabled #nav-drawer > nav > ul > li > a > div.ml-1 {
    margin-left: 0 !important;
}

body.rhitweaks-enabled #rmtSearch .modal-dialog {
    top: 100px;
}

body.rhitweaks-enabled #rmtSearch .modal-body,
body.rhitweaks-enabled #rmtSearch .modal-footer {
    background: rgba(0, 0, 0, 0.87);
}

body.rhitweaks-enabled #rmtSearch .modal-body {
    border-radius: 12px 12px 0 0;
}

body.rhitweaks-enabled #rmtSearch .modal-footer {
    border-radius: 0 0 12px 12px;
    border-top-color: #6f6f6f !important;
}

body.rhitweaks-enabled #rmtSearch .modal-content,
body.rhitweaks-enabled .course-section-header .btn {
    background: transparent !important;
    border: none !important;
}

body.rhitweaks-enabled #rmtSearch #rmtResultList div {
    padding: 8px !important;
    color: white;
}

body.rhitweaks-enabled #rmtSearch #rmtResultList div.active {
    background: var(--accent-color);
    border-radius: 4px;
}

body.rhitweaks-enabled #rmtSearch #rmtResultList div.active::after {
    content: 'Enter';
    color: #ffffffa6;
    float: right;
}

body.rhitweaks-enabled #rmtSearch #rmtSearchInput {
    background: transparent;
    color: white;
    width: calc(100% - 25px);
    border: none !important;
    outline: none;
}

body.rhitweaks-enabled .aabtn.focus,
body.rhitweaks-enabled .aabtn:focus,
body.rhitweaks-enabled .btn-link.focus,
body.rhitweaks-enabled .btn-link:focus,
body.rhitweaks-enabled .nav-link.focus,
body.rhitweaks-enabled .nav-link:focus,
body.rhitweaks-enabled .editor_atto_toolbar button.focus,
body.rhitweaks-enabled .editor_atto_toolbar button:focus,
body.rhitweaks-enabled [role='button'].focus,
body.rhitweaks-enabled [role='button']:focus,
body.rhitweaks-enabled .list-group-item-action.focus,
body.rhitweaks-enabled .list-group-item-action:focus,
body.rhitweaks-enabled input[type='checkbox'].focus,
body.rhitweaks-enabled input[type='checkbox']:focus,
body.rhitweaks-enabled input[type='radio'].focus,
body.rhitweaks-enabled input[type='radio']:focus,
body.rhitweaks-enabled input[type='file'].focus,
body.rhitweaks-enabled input[type='file']:focus,
body.rhitweaks-enabled input[type='image'].focus,
body.rhitweaks-enabled input[type='image']:focus,
body.rhitweaks-enabled .sr-only-focusable.focus,
body.rhitweaks-enabled .sr-only-focusable:focus,
body.rhitweaks-enabled a.dropdown-toggle.focus,
body.rhitweaks-enabled a.dropdown-toggle:focus,
body.rhitweaks-enabled .modal-dialog[tabindex='0'].focus .modal-content,
body.rhitweaks-enabled .modal-dialog[tabindex='0']:focus .modal-content,
body.rhitweaks-enabled .moodle-dialogue-base .closebutton.focus,
body.rhitweaks-enabled .moodle-dialogue-base .closebutton:focus,
body.rhitweaks-enabled button.close.focus,
body.rhitweaks-enabled button.close:focus,
body.rhitweaks-enabled .form-autocomplete-selection.focus,
body.rhitweaks-enabled .form-autocomplete-selection:focus,
body.rhitweaks-enabled [role='treeitem']:not([aria-expanded='true']).focus,
body.rhitweaks-enabled [role='treeitem']:not([aria-expanded='true']):focus,
body.rhitweaks-enabled button:focus,
body.rhitweaks-enabled select:focus,
body.rhitweaks-enabled input:not(#rmtSearchInput):focus,
body.rhitweaks-enabled .atto_toolbar_row:focus,
body.rhitweaks-enabled .editor_atto_content:focus,
body.rhitweaks-enabled .form-autocomplete-suggestions li[aria-selected='true'],
body.rhitweaks-enabled .form-autocomplete-selection [data-active-selection='true'],
body.rhitweaks-enabled .btn:focus,
body.rhitweaks-enabled .btn.focus,
body.rhitweaks-enabled .custom-select:focus,
body.rhitweaks-enabled .form-control:focus {
    --bxs-color: color-mix(in srgb, var(--accent-color), transparent 25%);
    box-shadow: 0 0 0 0.2rem var(--bxs-color) !important;
}

body.rhitweaks-enabled .text-info[title='Help with Cookies must be enabled in your browser']::before {
    color: white;
    position: relative;
    left: 4px;
}

body.rhitweaks-enabled #gridshadebox_content,
body.rhitweaks-enabled .form-control:focus {
    border-color: var(--accent-color);
}

body.rhitweaks-enabled .course-content ul.gridicons li.currentselected .icon_content,
body.rhitweaks-enabled .section_goto .icon {
    color: var(--accent-color) !important;
}

body.rhitweaks-enabled .generalbox a:not(.btn-primary),
body.rhitweaks-enabled .contentwithoutlink a,
body.rhitweaks-enabled .contentafterlink a,
body.rhitweaks-enabled a.autolink,
body.rhitweaks-enabled .posting a {
    color: color-mix(in srgb, var(--accent-color), #555) !important;
}

body.rhitweaks-enabled .course-content .current::before,
body.rhitweaks-enabled .courseindex .courseindex-section.current {
    border-left: var(--accent-color) 4px solid;
}

body.rhitweaks-enabled .course-content .current,
body.rhitweaks-enabled .main-inner {
    background: var(--card-color) !important;
}

body.rhitweaks-enabled .simplesearchform a.btn-open {
    display: flex !important;
}

body.rhitweaks-enabled .drawers .block_myoverview > .card-body {
    padding: 1rem !important;
}

body.rhitweaks-enabled .drawer {
    background: color-mix(in srgb, var(--sidebar-color), transparent 30%);
    margin-top: -4px;
    height: 100%;
}

@media (max-width: 992px) {
    body.rhitweaks-enabled .drawer {
        margin-top: 0 !important;
    }
}

body.rhitweaks-enabled .drawerheader {
    height: 0 !important;
    position: relative;
    z-index: 1;
    top: 18px;
}

body.rhitweaks-enabled .drawerheader button.btn.drawertoggle,
body.rhitweaks-enabled #courseindexdrawercontrols button {
    background: white;
    color: black !important;
    height: 26px;
    width: 26px;
    border-radius: 0.5rem !important;
    padding: 0 !important;
    margin-top: 5px;
}

body.rhitweaks-enabled .drawercontent {
    height: 100% !important;
    padding-top: 12px;
    padding-bottom: 50px;
    margin-top: 0;
}

body.rhitweaks-enabled .drawercontent > nav,
body.rhitweaks-enabled .drawercontent > section {
    margin-top: 35px !important;
    margin-bottom: 65px;
}

body.rhitweaks-enabled #page.drawers {
    margin-top: 0 !important;
    padding-top: 56px !important;
    height: 100%;
}

body.rhitweaks-enabled .courseindex-item a {
    color: white !important;
}

body.rhitweaks-enabled .courseindex-item:hover:not(.pageitem) {
    background-color: color-mix(in srgb, var(--accent-color), transparent 50%);
}

body.rhitweaks-enabled .header-maxwidth {
    margin-left: 0 !important;
}

body.rhitweaks-enabled .page-header-headings {
    display: flex;
    align-items: center;
}

body.rhitweaks-enabled .navbar-light .navbar-nav .nav-link:hover,
body.rhitweaks-enabled .secondary-navigation .navigation .nav-tabs .nav-link:hover {
    background-color: transparent !important;
}

body.rhitweaks-enabled .navbar-light .navbar-nav .nav-link:not([data-action='opensearch']):hover,
body.rhitweaks-enabled .secondary-navigation .navigation .nav-tabs .nav-link:hover {
    border-bottom-color: color-mix(
            in srgb,
            var(--accent-color),
            white 30%
    ) !important;
    transition: 0.2s;
}

body.rhitweaks-enabled .custom-courses.dropdown-menu {
    position: fixed !important;
    top: 50px;
    left: 420px;
    z-index: 2000;
}

body.rhitweaks-enabled .thegrid {
    justify-content: center !important;
}

body.rhitweaks-enabled .grid-image.card-img-bottom {
    background: white !important;
}

body.rhitweaks-enabled #sticky-footer label,
body.rhitweaks-enabled .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

body.rhitweaks-enabled #page.drawers::-webkit-scrollbar {
    width: 0;
}

body.rhitweaks-enabled #page.drawers::-webkit-scrollbar-track {
    background: var(--bg-color);
    border: 2px solid white;
    border-radius: 0.5rem;
}

body.rhitweaks-enabled #page.drawers::-webkit-scrollbar-thumb,
body.rhitweaks-enabled #page.drawers::-webkit-scrollbar-thumb:hover,
body.rhitweaks-enabled #page.drawers::-webkit-scrollbar-thumb:active {
    border: none;
    background: var(--accent-color);
}

body.rhitweaks-enabled #page {
    flex-grow: 1;
    scrollbar-color: var(--accent-color) var(--bg-color) !important;
}

body.rhitweaks-enabled .courseindex .courseindex-item.pageitem,
body.rhitweaks-enabled .courseindex .courseindex-item.pageitem:hover,
body.rhitweaks-enabled .nav-pills .nav-link.active,
body.rhitweaks-enabled .nav-pills .show > .nav-link {
    background: var(--accent-color) !important;
}

body.rhitweaks-enabled {
    -webkit-user-select: auto;
    user-select: auto;
}

body.rhitweaks-enabled .drawer-right-toggle {
    margin-right: 0 !important;
}

body.rhitweaks-enabled .popover-region-notifications .popover-region-container {
    border-radius: 0.5rem;
    top: 56px;
    background: var(--card-color) !important;
}

body.rhitweaks-enabled .popover-region-notifications .popover-region-footer-container,
body.rhitweaks-enabled .file-picker .fp-content {
    border-radius: 0 0 0.5rem 0.5rem;
    background: var(--card-color) !important;
}

body.rhitweaks-enabled .content-item-container:hover,
body.rhitweaks-enabled .maincalendar .calendarmonth td.today .day-number-circle {
    background-color: var(--accent-color) !important;
}

body.rhitweaks-enabled .moremenu .nav-link.active {
    border-bottom-color: var(--accent-color) !important;
}

body.rhitweaks-enabled a:not(.btn-primary, .dropdown-item):hover {
    color: var(--hover-color);
}

body.rhitweaks-enabled #sticky-footer {
    height: 50px;
    border-top: 0 !important;
}

body.rhitweaks-enabled .onGradebookPage {
    height: calc(100% + 52px) !important;
}

body.rhitweaks-enabled .btn-outline-primary {
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

body.rhitweaks-enabled .btn-outline-primary:not(:disabled):not(.disabled):active,
body.rhitweaks-enabled .btn-outline-primary:not(:disabled):not(.disabled).active,
body.rhitweaks-enabled .show > .btn-outline-primary.dropdown-toggle,
body.rhitweaks-enabled .btn-outline-primary:hover,
body.rhitweaks-enabled .page-item.active .page-link,
body.rhitweaks-enabled .badge-primary,
body.rhitweaks-enabled .form-autocomplete-suggestions li:hover,
body.rhitweaks-enabled .form-autocomplete-suggestions li:focus,
body.rhitweaks-enabled .form-autocomplete-suggestions li[aria-selected='true'] {
    color: white !important;
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

body.rhitweaks-enabled .activity-add,
body.rhitweaks-enabled .block-add {
    background-color: color-mix(in srgb, var(--accent-color), #ffffff) !important;
    border-color: var(--hover-color) !important;
}

body.rhitweaks-enabled .report-navigation .singleselect {
    display: flex !important;
}

body.rhitweaks-enabled .report-navigation .pagination {
    margin: 0 !important;
}

body.rhitweaks-enabled .report-navigation > .container > .ml-auto {
    align-content: center;
    flex-wrap: wrap;
}

body.rhitweaks-enabled .report-navigation .previous,
body.rhitweaks-enabled .report-navigation .next {
    height: 25px;
}

body.rhitweaks-enabled .editor_atto_content_wrap,
body.rhitweaks-enabled .activity-item .description div,
body.rhitweaks-enabled .que .info {
    border-radius: 0.5rem;
}

body.rhitweaks-enabled .activityiconcontainer {
    background-color: var(--hover-color) !important;
}

body.rhitweaks-enabled .activityiconcontainer img {
    filter: invert(1);
}

body.rhitweaks-enabled .timeline-event-list-item .timeline-name .text-right {
    width: 55px !important;
}

body.rhitweaks-enabled .editor_atto_content:focus,
body.rhitweaks-enabled .form-autocomplete-suggestions li[aria-selected='true'],
body.rhitweaks-enabled .form-autocomplete-selection [data-active-selection='true'] {
    border-color: transparent !important;
}

body.rhitweaks-enabled .activityiconcontainer .fa {
    color: white;
    position: relative;
}

body.rhitweaks-enabled .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
body.rhitweaks-enabled .custom-control-input:focus ~ .custom-control-label::before,
body.rhitweaks-enabled .custom-control-input:checked ~ .custom-control-label::before,
body.rhitweaks-enabled .custom-switch .custom-control-input:not(:checked) ~ .custom-control-label::before {
    background: white !important;
    border-color: var(--card-color) !important;
    box-shadow: none !important;
}

body.rhitweaks-enabled #available_shortcuts_tab,
body.rhitweaks-enabled #available_shortcuts_inner {
    border-radius: 0.5rem 0 0;
}

body.rhitweaks-enabled #available_shortcuts_tab {
    font-size: 0 !important;
}

body.rhitweaks-enabled #available_shortcuts_tab:before {
    content: '+';
    font-size: 16px;
}

body.rhitweaks-enabled #available_shortcuts_popup {
    background-color: transparent !important;
    border: none !important;
}

body.rhitweaks-enabled .available_shortcuts_items {
    margin-bottom: 4px;
}

body.rhitweaks-enabled .user-report-container,
body.rhitweaks-enabled .path-grade-report-user .user-grade thead th,
body.rhitweaks-enabled .grade-report-user .user-grade thead th,
body.rhitweaks-enabled .path-grade-report-user .user-grade td.category,
body.rhitweaks-enabled .grade-report-user .user-grade td.category,
body.rhitweaks-enabled .path-grade-report-user .user-grade td:not(.b1b, .b2b:not(.b1t), .baggb),
body.rhitweaks-enabled .grade-report-user .user-grade td,
body.rhitweaks-enabled .path-grade-report-user .user-grade tbody tr,
body.rhitweaks-enabled .grade-report-user .user-grade tbody tr,
body.rhitweaks-enabled .form-group {
    background-color: transparent !important;
}

body.rhitweaks-enabled .format-grid .thegrid .grid-image img {
    max-width: 95%;
    max-height: 99%;
}

body.rhitweaks-enabled .card-header:first-child {
    text-align: center;
}

body.rhitweaks-enabled .activity-item .description .course-description-item {
    /*noinspection CssNonIntegerLengthInPixels*/
    border: 0.25px solid gray;
    padding-block: 1rem;
}

body.rhitweaks-enabled .activity-item .description .course-description-item:nth-child(2) {
    margin-top: 5px;
}

body.rhitweaks-enabled .description .course-description-item .description-inner {
    border-bottom: none !important;
    padding: 0;
}

body.rhitweaks-enabled .message-app .simplesearchform .btn .icon {
    color: black;
}

body.rhitweaks-enabled a:not(.courseindex-link, .btn):focus {
    background-color: color-mix(
            in srgb,
            var(--accent-color),
            #ffffff 75%
    ) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body.rhitweaks-enabled a:not(
    .courseindex-link,
    .dropdown-item,
    .nav-link,
    .btn,
    [role='button']
  ):focus {
    border-radius: 0.5rem;
}

body.rhitweaks-enabled .path-grade-report-user .user-grade .column-itemname.baggt {
    padding-left: 24px !important;
}

body.rhitweaks-enabled table .spacer {
    height: 0 !important;
}

body.rhitweaks-enabled #rmtResultList {
    justify-content: start;
    display: block;
}

body.rhitweaks-enabled .dropdown-item.navbar-control {
    cursor: pointer !important;
}

body.rhitweaks-enabled .activityicon {
    filter: invert(1) !important;
}

body.rhitweaks-enabled .page-header-image {
    margin-right: 10px;
}

body.rhitweaks-enabled .dragdrop-question p,
body.rhitweaks-enabled .dragdrop-choice,
body.rhitweaks-enabled.lockscroll {
    overflow: auto !important;
}

body.rhitweaks-enabled .course-section-header .btn,
body.rhitweaks-enabled .btn.btn-icon.icons-collapse-expand:hover {
    outline-color: var(--accent-color) !important;
}
