body.rhitweaks-enabled #branding {
    background-image: url(https://www.rose-hulman.edu/assets/images/rose-hulman-video-logo.png);
    background-size: contain;
}

body.rhitweaks-enabled #header-main-section {
    background-color: #800000;
    border: none;
}

body.rhitweaks-enabled #header-main-section-east-part #userDiv {
    background-color: unset;
}

body.rhitweaks-enabled .banner-home {
    margin: 1rem;
}

body.rhitweaks-enabled .banner-home .card {
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

body.rhitweaks-enabled .banner-home .card:hover {
    box-shadow: 0 0 0 0.2rem #80000040;
    transform: scale(1.01);
    cursor: pointer;
}

body.rhitweaks-enabled .banner-home .card-title {
    margin-bottom: 0;
}

body.rhitweaks-enabled .banner-home .fa,
body.rhitweaks-enabled .banner-home .fas {
    width: 25px;
}

body.rhitweaks-enabled .banner-home h3 {
    margin-left: 0.5rem;
}

body.rhitweaks-enabled #banner-home {
    margin-bottom: 2rem;
}

body.rhitweaks-enabled .gen-home-main-view {
    background-color: #f6f6f6 !important;
    height: unset !important;
}

body.rhitweaks-enabled div[ng-app='generalSsbApp']#content {
    height: unset !important;
}

body.rhitweaks-enabled thead .column-visibility-menu {
    height: 40px !important;
}

body.rhitweaks-enabled .notification-center-shim {
    display: none;
}
