#branding {
  background-image: url(https://www.rose-hulman.edu/assets/images/rose-hulman-video-logo.png);
  background-size: contain;
}

#header-main-section {
  background-color: #800000;
  border: none;
}

#header-main-section-east-part #userDiv {
  background-color: unset;
}

.banner-home {
  margin: 1rem;
}

.banner-home .card {
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.banner-home .card:hover {
  box-shadow: 0 0 0 0.2rem #80000040;
  transform: scale(1.01);
  cursor: pointer;
}

.banner-home .card-title {
  margin-bottom: 0;
}

.banner-home .fa,
.banner-home .fas {
  width: 25px;
}

.banner-home h3 {
  margin-left: 0.5rem;
}

#banner-home {
  margin-bottom: 2rem;
}

.gen-home-main-view {
  background-color: #f6f6f6 !important;
  height: unset !important;
}

#content {
  height: unset !important;
}
