:root {
    --bg-color: #000000;
    --card-color: #eeeeee;
    --accent-color: #800000;
    --primary: var(--accent-color);
    --highlight-color: #4e4e4e;
    --border-radius: 12px;
}

#ek-overlay,
#ek-modal {
    display: none;
}

section,
.dashboard-card,
#page-header .card,
.dropdown-menu,
.section-summary.main,
.info,
.formulation.clearfix,
.comment.clearfix,
#gridshadebox_content,
.modal-dialog,
.modal-content,
.card,
.filepicker>div {
    border-radius: var(--border-radius);
}

.fa-star:before,
a,
.btn-link {
    color: var(--accent-color);
}

a:not([role="menuitem"]):not(.list-group-item, .list-group-item span, .navbar a, .btn-primary):hover,
.btn-link:hover {
    color: color-mix(in srgb, var(--accent-color), #000000) !important;
}

.btn-primary,
#available_shortcuts_tab,
#available_shortcuts_inner,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:focus-within {
    background: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-primary:hover {
    background: color-mix(in srgb, var(--accent-color), #000000) !important;
    border-color: color-mix(in srgb, var(--accent-color), #000000) !important;
}

.section,
.card,
#region-main {
    background: var(--card-color);
}

.section-summary.main {
    border: 0.25px solid gray !important;
}

.dashboard-card .card-img,
.dashboard-card .card-footer,
div#nav-drawer::-webkit-scrollbar,
.evalkit-widget-surveys,
.usernav li:first-child {
    display: none !important;
}

body,
#nav-drawer {
    background: var(--bg-color) !important;
}

#nav-drawer .list-group-item {
    border-radius: var(--border-radius);
    margin: 5px 0;
    background: var(--highlight-color);
    color: white;
    transition: 0.3s;
}

#nav-drawer .list-group-item:hover {
    background: color-mix(in srgb, var(--highlight-color), transparent 13.3%) !important;
    border-inline-start: 10px solid transparent;
}

.calendar_event_course {
    background: color-mix(in srgb, var(--accent-color), transparent 85%);
}

#page-footer {
    background: var(--highlight-color) !important;
}

#nav-drawer .list-group-item.active {
    background: var(--accent-color) !important;
    border-color: var(--accent-color);
}

.d-inline-block.mr-3>button {
    background-color: #00000000 !important;
    border: none;
    color: white;
}

.navbar-brand {
    background: url('https://www.rose-hulman.edu/assets/images/rose-hulman-video-logo.png') no-repeat 0 0 !important;
    background-size: 240px !important;
    margin-top: 12px;
}

.btn {
    border-radius: 100px !important;
}

input,
select {
    border-radius: 8px !important;
    border: 1px solid gray !important;
}

.editor_atto_toolbar {
    border-radius: 12px 12px 0 0;
}

.editor_atto_content_wrap {
    border-radius: 0 0 12px 12px;
}

.simplesearchform input {
    border-radius: 100px 0 0 100px !important;
}

.simplesearchform button {
    border-radius: 0 100px 100px 0 !important;
}

.ablock .answer div {
    border-radius: var(--border-radius);
    padding: 5px;
}

#goto-top-link>a>i {
    margin: 0 !important;
}

#goto-top-link a {
    top: 20px;
    right: 5px;
}

#page-footer {
    border-radius: var(--border-radius);
    margin: 10px;
}

nav.navbar.fixed-top {
    border-radius: 0 0 12px 12px;
    background-color: color-mix(in srgb, var(--accent-color), transparent 56.5%) !important;
    border: none !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

div[data-region="grade-actions-panel"],
div[data-region="grading-navigation-panel"] {
    background: white;
}

.fp-viewbar.btn-group a {
    margin: 0 5px;
}

#region-main>div.region_main_settings_menu_proxy,
#toggledsection-2>ul {
    background: transparent;
}

#nav-drawer>nav>ul>li>a>div.ml-1 {
    margin-left: 0 !important;
}

#rmtSearch .modal-dialog {
    top: 100px;
}

#rmtSearch .modal-body,
#rmtSearch .modal-footer {
    background: #000000dd;
}

#rmtSearch .modal-body {
    border-radius: 12px 12px 0 0;
}

#rmtSearch .modal-footer {
    border-radius: 0 0 12px 12px;
    border-top-color: #6f6f6f !important;
}

#rmtSearch .modal-content {
    background: transparent !important;
    border: none !important;
}

#rmtSearch #rmtResultList div {
    padding: 8px !important;
    color: white;
}

#rmtSearch #rmtResultList div.active {
    background: var(--accent-color);
    border-radius: 4px;
}

#rmtSearch #rmtResultList div.active::after {
    content: 'Enter';
    color: #ffffffa6;
    float: right;
}

#rmtSearch #rmtSearchInput {
    background: transparent;
    color: white;
    width: calc(100% - 25px);
    border: none !important;
    outline: none;
}

body.modal-open {
    overflow-y: scroll !important;
}

#searchform-navbar {
    display: none;
}

.simplesearchform a.btn-open {
    display: block !important;
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus {
    --bxs-color: color-mix(in srgb, var(--accent-color), transparent 25%);
    box-shadow: 0 0 0 0.2rem var(--bxs-color);
}

.text-info[title="Help with Cookies must be enabled in your browser"]::before {
    color: white;
    position: relative;
    left: 4px;
}