:root {
  --bg: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(58, 58, 58);
    --text: white;
  }
}

body {
  min-width: 300px;
}

#mainContainer {
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-flow: column;
}

.option {
  padding: 10px 0;
}

.title {
  padding-top: 10px;
}

#main .title {
  padding-bottom: 5px;
}

.link {
  color: var(--text);
  font-weight: bold;
  padding-bottom: 10px;
}

input[type="color"] {
  border-radius: 0 0.375rem 0.375rem 0;
  height: 38px;
  width: 60px;
  padding: 0.375rem;
  border: none;
}

.settings-page {
  display: none;
}

#main,
.settings-page,
.footer {
  flex: 0 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

.settings-btn {
  display: none;
}

.option button.homepage-btn {
  height: 25px;
  margin: 0 !important;
}